#bg {background-image: url("../img/390626.jpg");}
.corTitulo {color: rgb(12, 12, 12); text-shadow: 0 0 10px white;}
.logoImagem{
    width: 80px;
    height: 80px;
}
.gg{
    width: 30px;
    height: 80px;
}